backend/src/main/resources/xsd/productos.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/soap/productos"
           xmlns:tns="http://example.org/soap/productos"
           elementFormDefault="qualified">

    <!-- Tipo de dato Producto SOAP -->
    <xs:complexType name="ProductoSoap">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="categoria" type="xs:string"/>
            <xs:element name="precio" type="xs:decimal" minOccurs="0"/>
            <xs:element name="stock" type="xs:int"/>
            <xs:element name="marca" type="xs:string" minOccurs="0"/>
            <xs:element name="descripcion" type="xs:string" minOccurs="0"/>
            <xs:element name="imagenUrl" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Request para obtener productos -->
    <xs:element name="obtenerProductosRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <!-- Response de obtener productos -->
    <xs:element name="obtenerProductosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="productos" type="tns:ProductoSoap" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Request para importar productos masivos -->
    <xs:element name="importarProductosMasivosRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="productos" type="tns:ProductoSoap" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Response de importar productos -->
    <xs:element name="importarProductosMasivosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="cantidadImportada" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
